<mat-toolbar class="toolbar"></mat-toolbar>

<div class="app-content">
  <!--Patient User Information-->
  <mat-card class="perfil-card">
    <div class="perfil-header">
      <img src="assets/patient-photo.png" alt="foto del paciente" class="profile-img" />
    </div>

  </mat-card>
  <!--Patient States-->
  <div class="tabs-panel">
    <button mat-raised-button color="primary" class="tab">Diagnostic</button>
    <button mat-raised-button color="primary" class="tab">Clinical History</button>
    <button mat-raised-button color="primary" class="tab">Terapy</button>
    <button mat-raised-button color="primary" class="tab">Notes</button>
    <button mat-raised-button color="primary" class="tab">Dates</button>
  </div>
</div>

